<hr>
<i>
I use <a href="https://disqus.com/">disqus</a> as a comment system. If you click on the following button, then the disqus comment system will load in your browser and you agree to the <a href="https://help.disqus.com/terms-and-policies/disqus-privacy-policy">disqus privacy policy</a>. To delete your data from disqus you can contact their <a href="https://disqus.com/support/">support team</a> directly.
</i>
<br>
<br>
<div id="disqusOptInButton" style="border-radius: 25px; font-weight: bold; top: 0px; box-shadow: 0px 5px 0px #00823F; cursor: pointer; height: 30px; text-align: center; font-size: 18px; border: none; background-color: #4CAF50; color: white;">Load disqus comments</div>
<div id="disqus_thread"></div>
<script>
document.getElementById("disqusOptInButton").onmouseover = function(e){
    this.style.color = 'black';
    this.style.backgroundColor = '#3e8e41';
};
document.getElementById("disqusOptInButton").onmouseleave = function(e){
    this.style.color = 'white';
    this.style.backgroundColor = '#4CAF50'
};
document.getElementById("disqusOptInButton").onmousedown = function(e){
    this.style.top = '3px';
    this.style.boxShadow = '0 3px 0 #00823F';
};
document.getElementById("disqusOptInButton").onmouseup = function(e){
    this.style.top = '0px';
    this.style.boxShadow = '0px 5px 0px #00823F';
};
document.getElementById('disqusOptInButton').addEventListener('click', function() {
    var disqus_config = function () {
       this.page.url = "{{ page.url | absolute_url }}";  
       /*this.page.identifier = "{{ page.disqus_id }}";*/
   };
   (function() {  
       var d = document, s = d.createElement('script');
       
       s.src = '//fishi.disqus.com/embed.js';  
       
       s.setAttribute('data-timestamp', +new Date());
       (d.head || d.body).appendChild(s);
   })();
});
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
